<%= form_for :message, url: "/users/2/challenges/1/messages", action: 'create', html: {multipart: true,id: "new-msg-form"} do |f| %>
  <h4>Post a new message:</h4>
  <div class="form-group">
    <%= f.text_area :text, placeholder: "message", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.check_box :is_private %>
    <%= label :is_private, "Private message?" %>
  </div>
  <div class="form-group">
    <%= f.check_box :is_caught, class: "url-trigger" %>
    <%= label :is_caught, "Caught you slippin'" %>
  </div>
  <div class="form-group slide-down">
    <%= label :msg_pic, "Show the proof - upload a photo" %>
    <%= file_field_tag :msg_pic, class: "form-control" %>
  </div>
  <%= f.hidden_field :challenge_id, value: @challenge.id %>
  <%= f.hidden_field :is_invitation, value: 0, html: {id: "message_is_invitation"} %>
  <div class="form-group">
    <%= f.submit "Send message", class: "btn btn-primary" %>
  </div>
<% end %>
