<h1 class="subtitle">Login</h1>

<div class="form">

	<%flash.each do |k,v|%>
<h2 id="<%=k %>"> <%= v %></h2>
	<%end%>

	<% if session[:user_id]==@user %>
		<%= form_for :user do |f| %>

			<%= f.text_field :email, placeholder: "enter email", class: "form-control" %><br>
			<%= f.password_field :password, placeholder: "and password", class: "form-control" %><br>
			<%= f.submit "login", class: "btn form-control btn-success" %>


		<% end %>
	<% end %>
	
</div>
