<% if session[:user_id] == @current_user %>

<div class="col-md-4 offset-2">
	<div class="header"><%=@user.first_name %>'s Challenge Page</h1>
		<h2> <%=image_tag @user.avatar.url(:square)%><%=@user.first_name %> <%=@user.last_name %> </h2>

		<h3>Challenges</h3>
			<% if @user.challenges.length > 0 %>
				<p>
					Total Number of Challenges: <%= @user.challenges.length %>
				</p>
			<h4>Challenges</h4><br>
				<ul>
					<% @user.challenges.each do |challenge| %>
						<li class="challenges">
							<a class="chal" href="/users/<%= @user.id %>/challenges/<%= challenge.id%>" ><%= challenge.title %> <%= challenge.category %> <%= challenge.status %></a>	
						</li>
					<% end%>
				</ul>
			<% else %>
				<a href="/users/<%=@user.id%>/challenges/new">Create Challange</a>
			<% end %>
		</div>
	</div>
<%end%>