<% if session[:user_id]==@current_user %>

<div class="container">
	<h1 class="subtitle"><%=@user.first_name %>'s Challenge Page</h1>

	<h2> <%=image_tag @user.avatar.url(:square)%><%=@user.first_name %> <%=@user.last_name %> </h2>
	<h3>Challenges</h3>
		<% if @user.challenges.length > 0 %>
		<p>
			Total Number of Challenges: <%= @user.challenges.length %>
		</p>

		<p>
			<% @user.challenges.each do |challenge| %>
			<% if @user.challenge.status == "open" %>
					<h4>Open Challenges</h4><br>
					<h3><%= challenge.title %> <%= challenge.category %> <%=challenge.status %> <% challenge.end_date%> </h3><br>
			<% end %>

		<% end%>
		</p>
	<% end %>

<%end%>


</div>