<%= form_for :message, url: "/users/2/challenges/1/messages", action: 'create', html: {id: "new-msg-form"} do |f| %>
  <div class="form-group">
    <%= f.text_area :text, placeholder: "message", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.check_box :is_private %>
    <%= label :is_private, "Private message?" %>
  </div>
  <div class="form-group">
    <%= f.check_box :is_caught, class: "url-trigger" %>
    <%= label :is_caught, "Caught you slippin'" %>
  </div>
  <div class="form-group slide-down">
    <%= label :img_url, "Show the proof - upload a photo" %>
    <%= f.file_field :img_url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Send message", class: "btn btn-primary" %>
  </div>
<% end %>
