<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="text-center space-below section-header">Challenge Progress</h3>
      </div>
    </div>

    <!-- calendar -->
    <div id="calendar" class="progress-calendar"></div>
    <!-- /calendar -->

    <div class="progress-labels">
      <span class="progress-label start-date"><%= @challenge.start_date.strftime('%B %d, %Y')  %></span>
      <span class="progress-label end-date"><%= @challenge.end_date.strftime('%B %d, %Y') %></span>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-danger active"  role="progressbar" aria-valuenow="<%= @duration[:pct_complete] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @duration[:pct_complete] %>%">
        <span class="sr-only"><%= @duration[:pct_complete] %>% Complete</span>
      </div>
    </div>
  </div>
</div>
